.shadow-primary {
  box-shadow:
    0 4px 6px -1px var(--p-primary-500),
    0 2px 4px -2px color-mix(in srgb, var(--p-primary-500) 15%, transparent);
}

.navbar-logo {
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
  font-weight: 600;
}
