@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

body {
  padding: 0;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
}

.container {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.invalid-feedback {
  display: none;
}
.ng-invalid.ng-touched + .invalid-feedback,
.ng-invalid.ng-dirty + .invalid-feedback {
  display: block;
  color: var(--p-error-color);
}
