@import 'primeflex/primeflex.css';
@import 'primeicons/primeicons.css';

body {
  padding: 0;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
}

.container {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
